:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --social-links-color: #afb1b8;
  --button-text-color: #ffffff;
  --button-background-color: #2196f3;
  --footer-background-color: #2f303a;
}

/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196f3 */
/* белый #FFFFFF */
/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет иконок #AFB1B8 */
/* цвет текста кнопок  #ffffff */
/* цвет фона кнопок #2196F3 */
/* цвет фона футера #2F303A */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.transition {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.body.is-open {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 50px;
}

.logo:hover {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

/* убирает маркеры списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* убирает подчеркивание у ссылок */
a {
  text-decoration: none;
}

/* Page header */
.page-header {
  border: 1px solid #ececec;

  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header .container {
  display: flex;
  align-items: center;
}

/* site-nav */

.navigation {
  display: flex;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;

  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.studio {
  position: relative;
}

.studio::after {
  display: block;
  position: absolute;
  content: "";

  top: 95%;
  left: 0;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}

/* information */
.contacts {
  display: inline-flex;
  align-items: center;

  margin-left: auto;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.contacts-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts.item {
  display: flex;
  align-items: center;
}

.contacts > .item:not(:last-child) {
  margin-right: 50px;
}

.envelope-svg {
  align-items: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  align-items: center;
  fill: var(--primary-text-color);
  cursor: pointer;
}

.smartphone-svg {
  align-items: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  fill: var(--primary-text-color);
  cursor: pointer;
}

.envelope-svg,
.smartphone-svg {
  fill: currentColor;
}
/* hero */

.hero {
  /* max-width: 1600px; */
  margin: 0;

  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* margin-top: 0;
  margin-bottom: 0; */

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.open-button {
  border: none;
}

/* section*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid red; */
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

/* features */

.features {
  padding-bottom: 0;
}

.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list .item {
  width: 270px;
}

.feature-item-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--secondary-background-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.feature-item-icon-svg {
  width: 70px;
  height: 70px;
}

.feature-list > .item:not(:last-child) {
  margin-right: 30px;
}

.feature-para {
  margin-top: 0;
  margin-bottom: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* чем мы занимаемся (заголовок) */

.work .section-title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list .item {
  width: 370px;
}
.work-list > .item:not(:last-child) {
  margin-right: 30px;
}

.work-img-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.work-title {
  position: absolute;

  top: 226px;

  color: var(--white);

  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  text-align: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
}

/* наша команда */

.team .section-title {
  margin-bottom: 50px;
}

.team .team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}
.team-list {
  display: flex;
  align-items: center;
}

.team-list > .item {
  /* width: 370px; */
  width: calc((100% - 30px * 3) / 4);

  text-align: center;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list > .item:not(:last-child) {
  margin-right: 30px;
}

.team-list-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .team-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.background {
  background-color: var(--secondary-background-color);
}

/* social links */

.social-list {
  display: flex;
  margin-top: 20px;
}

.social-list-item-link:hover,
.social-list-item-link:focus {
  background: var(--accent-color);
  outline: none;
}

.social-list-item-link:hover .social-list-item-link-svg {
  fill: var(--button-text-color);
}

.team .social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link-svg {
  fill: var(--social-links-color);
  width: 20px;
  height: 20px;
}

.social-links {
  color: var(--social-links-color);
}
.social-links:hover,
.social-links:focus {
  color: var(--accent-color);
}

/* button */

.hero .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--button-text-color);
  background-color: var(--button-background-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;
}

/* Постоянные клиенты */

.clients .section-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

/* .clients-list .item + .item {
  margin-left: 30px;
} */

/* .clients-list:hover,
.clients-list:focus {
  color: var(--accent-color);
} */

.clients-list-item-link {
  width: 170px;
  height: 90px;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-links-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item-link-svg {
  fill: currentColor;
}

.clients-list-item-link:hover,
.clients-list-item-link:focus {
  color: var(--accent-color);
  outline: none;
}

.size-logo-1 {
  width: 44px;
  height: 49px;
}

.size-logo-2 {
  width: 40px;
  height: 52px;
}

.size-logo-3 {
  width: 41px;
  height: 43px;
}

.size-logo-4 {
  width: 80px;
  height: 42px;
}

.size-logo-5 {
  width: 59px;
  height: 47px;
}

.size-logo-6 {
  width: 88px;
  height: 45px;
}

.clients-list > .item:not(:last-child) {
  margin-right: 30px;
}

/* футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
}
.footer-background {
  background-color: var(--footer-background-color);
}

.logo-footer {
  color: var(--white);
  font-family: "Raleway", sans-serif;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.footer-text {
  color: var(--white);
}

.logo-footer:hover {
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer .button {
  display: flex;
  border-radius: 4px;
  padding: 10px 29px;

  color: var(--button-text-color);
  background-color: var(--button-background-color);
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  cursor: pointer;
}

.footer-subscribe {
  display: flex;
  margin-top: 20px;
}
.footer-subscribe input::placeholder {
  color: #757575;
}
.footer-subscribe input {
  width: 358px;
  align-items: center;
  padding-left: 10px;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
}

.join-telegram {
  width: 24px;
  height: 24px;
  fill: var(--button-text-color);

  margin-left: 10px;
}

.footer-join {
  margin-left: 70px;
}

.footer-join b {
  text-transform: uppercase;
}

.join-font {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts {
  margin-top: 9px;
}

.dark-theme {
  fill: white;
}

/* Страница Портфолио */

/* кнопки портфолио */

.filter .button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
}

.filter .button:hover,
.filter .button:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Секция Портфолио */

/* Список разделов текущей страницы портфолио*/

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter > .item:not(:last-child) {
  margin-right: 8px;
}

.item > .button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  background: var(--secondary-background-color);
  border-radius: 4px;
}

/* <-----------Портфолио---------> */

.section-filter {
  padding-bottom: 50px;
}

.site-nav .portfolio {
  position: relative;
}

.site-nav .portfolio::after {
  display: block;
  position: absolute;
  content: "";

  top: 95%;
  left: 0;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -10px;
}

.portfolio-list .item {
  margin-right: 30px;
  margin-bottom: 30px;

  flex-basis: calc((100% - 3 * 30px) / 3);

  background: var(--background-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  width: 370px;
  height: 404px;
}

.item:nth-child(n + 7) {
  margin-bottom: 0;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .item:hover .overlay {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* заголовок контента */
.portfolio .portfolio-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
}

.portfolio .paragraph {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}

/* абзац контента */
.portfolio .para {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  padding-left: 24px;
  padding-top: 63px;
  letter-spacing: 0.03em;

  color: var(--white);
}

/* <-------------BACKDROP---------------> */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.form-wrapper {
  position: absolute;
  width: 528px;
  /* height: 581px; */
  left: 50%;
  top: 221px;
  transform: translateX(-50%);
  background-color: #fff;

  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.cross-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.cross {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.cross-btn:hover .cross,
.cross-btn:focus-within .cross {
  fill: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.label-info {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.person-info-modal {
  position: relative;
}

.modal-svg {
  position: absolute;
  height: 18px;
  width: 18px;
  margin-left: 14px;
  top: 21%;
  left: 0;
  cursor: pointer;
}

.modal-form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
}

.person-info-modal:hover .modal-svg,
.person-info-modal:focus-within .modal-svg {
  fill: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.person-info-modal:hover .modal-form-input,
.person-info-modal:focus-within .modal-form-input {
  border-color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-form-comment {
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:placeholder,
.modal-form-comment:placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:hover::placeholder,
.modal-form-comment:focus::placeholder {
  /* color: var(--accent-color); */
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:hover,
.modal-form-comment:focus {
  border-color: var(--accent-color);
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-form-check-policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-check-label {
  display: flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: #757575;

  margin: 0 auto;
  margin-bottom: 30px;
}
.modal-form-check-label::before {
  display: block;
  content: "";
  width: 11px;
  height: 11px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 8px;
}

.modal-form-check-policy:checked + .modal-form-check-label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.accept-policy {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  margin: 0 auto;

  color: var(--button-text-color);
  background-color: var(--button-background-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  cursor: pointer;
}

.accept-svg {
  position: absolute;
  width: 11px;
  height: 8px;
  fill: var(--background-color);
}
